name: Java CI

on:
  push:

jobs:
  build:

    if: "! contains(toJSON(github.event.commits.*.message), '[SKIP-CI]')"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main
      - name: Set up JDK 17
        uses: actions/setup-java@main
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: actions/cache@main
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven | EN
        run: mvn -B package --file pom.xml
      - name: Build with Maven | RU
        run: mvn -B -P ru package --file pom.xml

      - uses: actions/upload-artifact@main
        with:
          name: UltimateServerProtect (English)
          path: target/UltimateServerProtector-en.jar
      - uses: actions/upload-artifact@main
        with:
          name: UltimateServerProtect (Russian)
          path: target/UltimateServerProtector-ru.jar
